#Put this file in /etc/systemd/system/

[Unit]
Description=Log Rotation Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/logrotationsystem/zipProcess.py
WorkingDirectory=/root/logrotationsystem/
User=logmanager